@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-wave-slow {
  animation: waveMove 22s linear infinite;
}

.animate-wave-fast {
  animation: waveMove 15s linear infinite;
}